/* QuestionBubble.module.css */

.fullscreenText {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #fff;
  color: #ff725e;
  font-size: 36px;
  text-align: center;
}


.question {
  font-weight: bold;
  opacity: 1;
  transition: opacity 0.5s ease-in-out;
}